html 
    head 
        title= title
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
        link(rel='stylesheet' href='main.css')
    body 
        .jumbotron.heading-container
            h1= heading
        form(action='/led' method='POST')
            button.toggle-btn.btn.btn-primary TOGGLE LED
        p.status-text= ledStatus
